# BedBuddy Project Requirements
# Reference:
# Python Software Foundation. (2024). Python Packaging User Guide —
# Installing dependencies with pip. https://packaging.python.org/en/latest/tutorials/installing-packages/

fastapi
uvicorn
motor
passlib[argon2]
python-jose[cryptography]
python-dotenv
requests
pymongo
argon2-cffi
